/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
 gulpfile.js
vendor/composer/ClassLoader.php
vendor/composer/autoload_static.php
